/*.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	 Set the fixed height of the footer here 
	height: 50px;
	background-color: #f5f5f5;
}*/

legend {
	color:red;
}

.button_surrogate span { 
	margin:0;
	display:block;
	height:25px;
	text-align:center;
	cursor:pointer;
	.width:150px;
	/*background:url(left_button_edge.png) left top no-repeat;*/
	background-color: green left top no-repeat;
}

.button_surrogate span span { 
	display:block;
	padding:0 14px;
	height:25px;
	background-color: green right top no-repeat;
	/*background-color: green;*/
	/*background:url(right_button_edge.png) right top no-repeat;*/
}

.button_surrogate span span span { 
	display:block;
	overflow:hidden;
	padding:5px 0 0 0;
	background-color: green left top repeat;
	/*background:url(button_connector.png) left top repeat-x;*/
}

/* CSS Document */
/*body {
	font:12px arial;
	color: #222;
	text-align:center;
	padding:35px; }
  
form, p, span {
	margin:0;
	padding:0; }
  
input { font:12px arial; }
  
a {
	color:#0000FF;
	text-decoration:none; }
  
	a:hover { text-decoration:underline; }
  */

#wrapper, #loginform {
	margin:0 auto;
	padding-bottom:25px;
	margin-bottom: 25px;
	background:#EBF4FB;
	/*width:504px;*/
	width:100%;
	border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
	#loginform p { margin: 5px; }
  
#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:20px;
	background:#fff;
	height:1000px;
	/*height:100%;*/
	/*width:430px;*/
	width:100%;
	border:1px solid #ACD8F0;
	overflow:scroll;
}

#usermsgform {
		padding-left : 25px;
}

#text {
	width:80%;
	border:1px solid #ACD8F0;
	margin-left : 25px;
}
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

/* BUBBLES CSS */

.msg-list {
	width: 100%;
}
.messenger-container {
	padding: 8px 15px 8px 13px;
	margin: 0 0 25px 35px;
	float: left;
	max-width: 82%;
	background: #f2f2f2;
	border-radius: 10px;
	min-width: 20%;
	position: relative; box-sizing: border-box;
	/*box-shadow: 7px 10px 6px -5px #BBC0C7;*/
}
.messenger-container p {
	color: #3D3D3D;
	font-size: 12px;
	margin-bottom: 6px;
	line-height: 18px;
	word-wrap: break-word; margin: 0;
}
.sender .messenger-container {
	float: right;
	margin-right: 35px;
	width: auto;
	background: #D5DBFF;
	margin-left: 0px;
	padding: 8px 15px 8px 13px;
}
.clear {
	clear:both;
	width: 100%;
	padding: 0px !important;
	margin: 0px;
	height:0px;
}
.messenger-container::before {
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 

	border-right:15px solid #f2f2f2; 
	content: "";
	position: absolute;
	top: 9px;
	left: -15px;
}
.sender .messenger-container::before {
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 15px solid #D5DBFF;
	content: "";
	position: absolute;
	top: 9px;
	left: 99%;border-right: none;
}

/* Diablog box*/

/* The Modal (background) */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #a50000;
	color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
	padding: 2px 16px;
	background-color: transparent;
	color: white;
}