/*.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	 Set the fixed height of the footer here 
	height: 50px;
	background-color: #f5f5f5;
}*/

.img {        
	width: 400px;
	height: 400px;
	overflow: auto;
}