{###------------------------------------------------------------------------------------------------------------------###}
{###------------------------------------------ALERT PANNEL------------------------------------------------------------###}
{###------------------------------------------------------------------------------------------------------------------###}
<div class="container">
	{% if flash.success %}
		<div class="alert alert-success">
			{{ flash.success }}
		</div>
	{% endif %}

		{% if flash.error %}
		<div class="alert alert-danger">
			{{ flash.error }}
		</div>

	{% endif %}
</div>